.checkmark_circle {
  position: absolute;

  top: 50px;
  left: 70px;

  background-color: #4ABED5;
  border-radius: 100%;
  border: 2px solid #4ABED5;
}

.circle_container {
  width: 50px;
  height: 50px;
}

.checkmark_stem {
  position: absolute;

  height: 25px;
  width: 5px;

  background-color: #FFF;

  left: 28px;
  top: 11px;
}

.checkmark_kick {
  position: absolute;

  height: 5px;
  width: 15px;

  background-color: #FFF;

  left: 18px;
  top: 31px;
}

.rotate {
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
  transform: rotate(45deg);
}

.checkmark-animation {
  -webkit-animation: circle-fadein 1s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: circle-fadein 1s; /* Firefox < 16 */
      -ms-animation: circle-fadein 1s; /* Internet Explorer */
       -o-animation: circle-fadein 1s; /* Opera < 12.1 */
          animation: circle-fadein 1s;
}

@keyframes circle-fadein {
  0% {
    opacity: 0;
  }
  15% {
    opacity: 1;
    transform: scale(0.6);
  }
  0%, 60% {
    transform: scale(1.1);

    top: -2px;
    left: -2px;

    width: 100px;
    height: 100px;
  }
  90%, 100% {
    transform: scale(1);

    opacity: 1;

    top: 50px;
    left: 70px;

    width: 50px;
    height: 50px;
  }
}

/* Firefox < 16 */
@-moz-keyframes circle-fadein {
  0% {
    opacity: 0;
  }
  15% {
    opacity: 1;
    transform: scale(0.6);
  }
  0%, 60% {
    transform: scale(1.1);

    top: -2px;
    left: -2px;

    width: 100px;
    height: 100px;
  }
  90%, 100% {
    transform: scale(1);

    opacity: 1;

    top: 50px;
    left: 70px;

    width: 50px;
    height: 50px;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes circle-fadein {
  0% {
    opacity: 0;
  }
  15% {
    opacity: 1;
    transform: scale(0.6);
  }
  0%, 60% {
    transform: scale(1.1);

    top: -2px;
    left: -2px;

    width: 100px;
    height: 100px;
  }
  90%, 100% {
    transform: scale(1);

    opacity: 1;

    top: 50px;
    left: 70px;

    width: 50px;
    height: 50px;
  }
}

/* Internet Explorer */
@-ms-keyframes circle-fadein {
  0% {
    opacity: 0;
  }
  15% {
    opacity: 1;
    transform: scale(0.6);
  }
  0%, 60% {
    transform: scale(1.1);

    top: -2px;
    left: -2px;

    width: 100px;
    height: 100px;
  }
  90%, 100% {
    transform: scale(1);

    opacity: 1;

    top: 50px;
    left: 70px;

    width: 50px;
    height: 50px;
  }
}

/* Opera < 12.1 */
@-o-keyframes circle-fadein {
  0% {
    opacity: 0;
  }
  15% {
    opacity: 1;
    transform: scale(0.6);
  }
  0%, 60% {
    transform: scale(1.1);

    top: -2px;
    left: -2px;

    width: 100px;
    height: 100px;
  }
  90%, 100% {
    transform: scale(1);

    opacity: 1;

    top: 50px;
    left: 70px;

    width: 50px;
    height: 50px;
  }
}

.ok-animation {
  -webkit-animation: ok-fadein 1s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: ok-fadein 1s; /* Firefox < 16 */
      -ms-animation: ok-fadein 1s; /* Internet Explorer */
       -o-animation: ok-fadein 1s; /* Opera < 12.1 */
          animation: ok-fadein 1s;
}

@keyframes ok-fadein {
  0%, 60% {
    opacity: 0;
    transform: rotate(0deg);
  }
  100% {
    opacity: 1;
    transform: rotate(45deg);
  }
}

/* Firefox < 16 */
@-moz-keyframes ok-fadein {
  0%, 60% {
    opacity: 0;
    transform: rotate(0deg);
  }
  100% {
    opacity: 1;
    transform: rotate(45deg);
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes ok-fadein {
  0%, 60% {
    opacity: 0;
    transform: rotate(0deg);
  }
  100% {
    opacity: 1;
    transform: rotate(45deg);
  }
}

/* Internet Explorer */
@-ms-keyframes ok-fadein {
  0%, 60% {
    opacity: 0;
    transform: rotate(0deg);
  }
  100% {
    opacity: 1;
    transform: rotate(45deg);
  }
}

/* Opera < 12.1 */
@-o-keyframes ok-fadein {
  0%, 60% {
    opacity: 0;
    transform: rotate(0deg);
  }
  100% {
    opacity: 1;
    transform: rotate(45deg);
  }
}