.checkmark_circle {
  position: absolute;

  top: 50px;
  left: 70px;

  width: 50px;
  height: 50px;

  background-color: #4ABED5;
  border-radius: 100%;
  border: 2px solid #4ABED5;
}

.checkmark_stem {
  position: absolute;

  height: 25px;
  width: 5px;

  background-color: #FFF;

  left: 28px;
  top: 11px;
}

.checkmark_kick {
  position: absolute;

  height: 5px;
  width: 15px;

  background-color: #FFF;

  left: 18px;
  top: 31px;
}

.rotate {
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
  transform: rotate(45deg);
}

.fadein-animation {
  -webkit-animation: fadein 2.3s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 2.3s; /* Firefox < 16 */
      -ms-animation: fadein 2.3s; /* Internet Explorer */
       -o-animation: fadein 2.3s; /* Opera < 12.1 */
          animation: fadein 2.3s;
}

@keyframes fadein {
  0% {
    opacity: 0;
    transform: scale(2), rotate(45deg);

    top: 0;
    left: 0;

    width: 100px;
    height: 100px;
  }
  
  100% {
    opacity: 1;
    transform: scale(1), rotate(45deg);

    top: 50px;
    left: 70px;

    width: 50px;
    height: 50px;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  0% {
    opacity: 0;
    transform: scale(2), rotate(45deg);

    top: 0;
    left: 0;

    width: 100px;
    height: 100px;
  }
  100% {
    opacity: 1;
    transform: scale(1), rotate(45deg);

    top: 50px;
    left: 70px;

    width: 50px;
    height: 50px;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  0% {
    opacity: 0;
    transform: scale(2), rotate(45deg);

    top: 0;
    left: 0;

    width: 100px;
    height: 100px;
  }
  100% {
    opacity: 1;
    transform: scale(1), rotate(45deg);

    top: 50px;
    left: 70px;

    width: 50px;
    height: 50px;
  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  0% {
    opacity: 0;
    transform: scale(2), rotate(45deg);

    top: 0;
    left: 0;

    width: 100px;
    height: 100px;
  }
  100% {
    opacity: 1;
    transform: scale(1), rotate(45deg);

    top: 50px;
    left: 70px;

    width: 50px;
    height: 50px;
  }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  0% {
    opacity: 0;
    transform: scale(2), rotate(45deg);

    top: 0;
    left: 0;

    width: 100px;
    height: 100px;
  }
  100% {
    opacity: 1;
    transform: scale(1), rotate(45deg);

    top: 50px;
    left: 70px;

    width: 50px;
    height: 50px;
  }
}
