.emojis-bar {
  margin-top: 5%;
  width: auto;
  height: auto;
  min-width: 650px;
}

.emoji {
  border: 2px solid #4ABED5;
  -moz-border-radius:100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;

  margin: 0 15px;

  height: 100px;
  width: 100px;

  background-color: transparent;
  z-index: 20;

  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1); 
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1); 
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1);
  transition: all 200ms ease-in;
  transform: scale(1);   
}

.emoji:hover {
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1.1);
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1.1);   
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1.1);
  transition: all 200ms ease-in;
  transform: scale(1.1);
}

.neutral {
  border-radius: 0 0 90px 90px;
  -moz-border-radius: 0 0 90px 90px;
  -webkit-border-radius: 0 0 90px 90px;

  border-color: #4ABED5 transparent transparent transparent;
  border-style: solid;
  border-width: 2px;

  width: 60px;

  position: relative;
  top: 70px;
  left: 18px;
}

.awful {
  border-radius: 90px 90px 0 0;
  -moz-border-radius: 90px 90px 0 0;
  -webkit-border-radius: 90px 90px 0 0;

  border: 2px solid #4ABED5;

  height: 30px;
  width: 60px;

  position: relative;
  top: 50px;
  left: 18px;
}

.amazing {
  border-radius: 0 0 90px 90px;
  -moz-border-radius: 0 0 90px 90px;
  -webkit-border-radius: 0 0 90px 90px;

  border: 2px solid #4ABED5;

  height: 30px;
  width: 60px;

  position: relative;
  top: 50px;
  left: 18px;
}

.good {
  border-radius: 0 0 90px 90px;
  -moz-border-radius: 0 0 90px 90px;
  -webkit-border-radius: 0 0 90px 90px;

  border-color: transparent transparent #4ABED5 transparent;
  border-style: solid;
  border-width: 2px;

  height: 40px;
  width: 80px;

  position: relative;
  top: 40px;
  left: 8px;
}

.bad {
  border-radius: 90px 90px 0 0;
  -moz-border-radius: 90px 90px 0 0;
  -webkit-border-radius: 90px 90px 0 0;

  border-color: #4ABED5 transparent transparent transparent;
  border-style: solid;
  border-width: 2px;

  height: 40px;
  width: 80px;

  position: relative;
  top: 70px;
  left: 8px;
}
