.emojis-bar {
  margin-top: 60px;
  width: auto;
  height: auto;
  display: inline-block;
}

.emoji {
  border: 2px solid #4ABED5;
  -moz-border-radius:75px;
  -webkit-border-radius: 75px;
  border-radius: 75px;

  margin: 0 30px;

  height: 100px;
  width: 100px;
  float: left;
  background-color: transparent;
  z-index: 20;

  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1); 
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1); 
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1);
  transition: all 200ms ease-in;
  transform: scale(1);   
}

.emoji:hover {
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1.1);
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1.1);   
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1.1);
  transition: all 200ms ease-in;
  transform: scale(1.1);
}

.neutral {
  clear: both;
  width: 60%;
  background: #4ABED5;
  height: 2px;
  margin: 65px auto auto auto;
  z-index: 40
}

.awful {
  height: 30px;
  width: 60px;
  border-radius: 90px 90px 0 0;
  -moz-border-radius: 90px 90px 0 0;
  -webkit-border-radius: 90px 90px 0 0;
  border: 2px solid #4ABED5;
  margin: 45px auto auto auto;
}

.amazing {
  height: 35px;
  width: 70px;
  border-radius: 0 0 90px 90px;
  -moz-border-radius: 0 0 90px 90px;
  -webkit-border-radius: 0 0 90px 90px;
  border: 2px solid #4ABED5;
  margin: 50px auto auto auto;
}

.good {
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;

  margin: 40px auto auto auto;
  width: 70px;
  height: 40px;
  border-bottom: 2px solid #4ABED5;
}

.bad {
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;

  margin: 65px auto auto auto;
  width: 70px;
  height: 40px;
  border-top: 2px solid #4ABED5;
}
