.flex-container {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
}

.sheet {
  background: #FFFFFF;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  position: absolute;

  top: 25%;
  left: 23%;
  bottom: 25%;

  height: 50%;
  min-height: 280px;
  max-height: 60%;

  width: 50%;
  min-width: 650px;

  margin: auto;
  padding: 25px 2%;
}

.sheet-twisted {
  transform: rotate(-3deg);
  z-index: 10;
}

.sheet-straight {
  z-index: 20;
}

.sheet-heading {
  font-family: HelveticaNeue-Thin;
  font-size: 32px;
  color: #767676;
  margin: 0 auto;
  text-align: center;
}

.sheet-text {
  font-family: HelveticaNeue-Light;
  font-size: 20px;
  color: #C0C0C0;
  line-height: 26px;
  margin: 0px auto;
  text-align: center;
}

.sheet hr {
  margin-top: 10%;
  width: 30%;
  border: 1px solid #EEEEEE;
}
